/* Базовые стили */

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

a {
    text-decoration: none;
}

/* Кнопки */

.button {
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
}

.header-buttons button, .button-search {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    background-color: #293449;
    color: #ffffff;
    border: none;
}

.header-button-order {
    background-color: #63a63e;
}

.phone-button {
    color: #ee3643;
}

a.button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
}

a.button:hover, a.button:active {
    background-color: #ca2c37;
}

.shop-contacts button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
}

.service-item {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    background-color: #32425c;
    border: none;
}

.service-item:active {
    color: #32425c;
    background-color: #ffffff;
    border: none;
}

.filter-button {
    background-color: #ffffff;
    border: 1px solid gray;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-button a:hover, .social-button a:focus, .social-button a:active {
    background-color: #ee3643
}

.credit button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border: none;
}

.credit button:hover, .credit button:active {
    background-color: #ca2c37;
}

.sorting-btn {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #acaaa5;
    border: none;
    border-bottom: 1px dashed #ee3643;
}

.sorting-btn:active {
    color: #ee3643;
    border-bottom: none;
}

/* Хэдер */

.header-buttons {
    background-color: #293449;
    color: #ffffff;
}

.header-buttons ul {
    list-style: none;
}

.search-input {
    opacity: 0;
}

.company-description {
    font-size: 16px;
    line-height: 23px;
    color: #ee434f;
    font-style: italic;
}

.header-contacts p {
    font-size: 14px;
    line-height: 24px;
}

.site-navigation li:hover {
    background-color: #293449;
}

.site-navigation li:active {
    background-color: #293449;
}

.site-navigation a:active {
    color: #9b9b9b;
}

/* Авторизация */

.login {
    list-style: none;
}

.login-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    border: none;
}

.login-button:hover, .login-button:focus {
    color: #ee3643;
    border: none;
}

.login-button:active {
    color: #c5c5c5;
    border: none;
}

.autorised>a {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}

.autorised>a:active {
    color: #c5c5c5;
}

.login-list {
    list-style: none;
}

.login-list a {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: underline;
}

.login-list a:hover, .login-list a:focus {
    color: #ee3643;
}

.login-list a:active {
    color: #c5c5c5;
}

/* Типографика */

.site-navigation {
    list-style: none;
    color: #ffffff;
    background-color: #32425c;
}

h1, h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.companies {
    list-style: none;
}

.companies li {
    font-size: 18px;
    line-height: 20px;
}

.promo-item h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.slider h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slider p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.producers, .power {
    list-style: none;
}

.producers li, .power li {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.models {
    list-style: none;
}

.models h3 {
    font-size: 18px;
    line-height: 20px;
}

.models span {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
}

.popular-items ul {
    list-style: none;
}

.popular-items h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.popular-items span {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
}

.popular-producers ul {
    list-style: none;
}

.service-list {
    list-style: none;
}

.title {
    background-color: #f9f5f0;
}

.catalog-title {
    background-color: #f2f6f8;
    margin: 0;
    padding: 15px 30px;
}

.catalog-title h1 {
    font-weight: normal;
    color: #32425c;
}

.sorting ul {
    list-style: none;
}

.filter h2, .sorting h2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.product-info {
    background-color: #f2f6f8;
}

.pagination {
    list-style: none;
}

/* Ссылки */

.site-navigation a {
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
}

.breadcrumbs {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.breadcrumbs a {
    color: #000000;
}

.footer-nav a, .footer-social a {
    color: #ffffff;
}

.footer-nav-bottom a, .footer-link {
    color: #ffd180;
}

.footer-nav a:hover, .footer-nav a:focus {
    text-decoration: underline;
}

.footer-nav a:active {
    opacity: 0.5;
}

.footer-link:hover, .footer-link:focus {
    text-decoration: underline;
}

.footer-link:active {
    color: #ee3643;
}

.promo-item a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #e5e5e5;
    color: #ffffff;
}

.promo-item a:hover {
    background-color: #cccccc;
}

.promo-item a:active {
    background-color: #b2b2b2;
}

.pagination a {
    font-size: 13px;
    line-height: 18px;
    border: 1px solid lightgray;
}

.pagination-current a {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination a:hover {
    border: 1px solid gray;
}

.pagination a:active {
    border: 1px solid #ee3643;
}

/* Футер */

.main-footer {
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-top {
    background-color: #32425c;
    font-size: 18px;
    line-height: 24px;
}

.footer-bottom {
    background-color: #293449;
    font-size: 16px;
    line-height: 18px;
}

.footer-nav, .footer-social {
    list-style: none;
}

.footer-social ul {
    list-style: none;
}

/*Всплывающие окна */

.modal {
    display: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/*Сеточные стили */

.container {
    width: 960px;
    margin: 0 auto;
}

.main-header {
    margin-bottom: 60px;
}

.inner-page .main-header {
    margin-bottom: 0;
}

.main-nav {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.company-info {
    display: flex;
    height: 160px;
    width: 960px;
    margin: 0 auto;
    justify-content: space-around;
}

.header-buttons-wrapper {
    width: 100%;
    background-color: #293449;
}

.header-wrapper {
    width: 100%;
    background-color: #f3f7f8;
    margin-top: -10px;
}

.shop {
    display: flex;
    justify-content: space-between;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
}

.product-info-wrapper {
    width: 100%;
    background-color: #f2f6f8;
}

.product-info {
    padding: 60px 0;
}

.catalog-columns {
    display: flex;
}

.sorting ul {
    margin: 0;
    padding: 0;
}

.models {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.model-item {
    width: 220px;
    margin-right: 20px;
}

.model-item:nth-child(3n) {
    margin-right: 0;
}

.footer-top-wrapper {
    width: 100%;
    background-color: #32425c;
}

.footer-bottom-wrapper {
    width: 100%;
    background-color: #293449;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
}

.footer-social {
    margin: 0 auto;
}

.feedback {
    margin-right: 40px;
}