/* Базовые стили */

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
}

a {
    text-decoration: none;
}

/* Кнопки */

.button {
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
}

.header-buttons button, .button-search {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    background-color: #293449;
    color: #ffffff;
    border: none;
}

.phone-button {
    color: #ee3643;
}

a.button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    display: inline-block;
    padding: 10px 40px;
}

a.button:hover, a.button:active {
    background-color: #ca2c37;
}

.shop-contacts button {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    display: inline-block;
    padding: 10px 40px;
    border: none;
}

.service-item {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    background-color: #32425c;
    border: none;
}

.service-item:active {
    color: #32425c;
    background-color: #ffffff;
    border: none;
}

.filter-button {
    background-color: #ffffff;
    border: 1px solid gray;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-button a:hover, .social-button a:focus, .social-button a:active {
    background-color: #ee3643
}

.credit button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    border: none;
}

.credit button:hover, .credit button:active {
    background-color: #ca2c37;
}

.sorting-btn {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #acaaa5;
    border: none;
    border-bottom: 1px dashed #ee3643;
}

.sorting-btn:active {
    color: #ee3643;
    border-bottom: none;
}

.header-buttons .button {
    padding: 13px 20px;
}

/* Хэдер */

.header-buttons {
    background-color: #293449;
    color: #ffffff;
}

.header-buttons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-buttons .button-order {
    background-color: #63a63e;
    \ padding: 0;
}

.search-input {
    opacity: 0;
}

.company-description, .header-contacts, .login {
    margin-top: 30px;
}

.company-description {
    font-size: 16px;
    line-height: 23px;
    color: #ee434f;
    font-style: italic;
}

.header-contacts p {
    font-size: 14px;
    line-height: 24px;
}

.site-navigation li:hover {
    background-color: #293449;
}

.site-navigation li:active {
    background-color: #293449;
}

.site-navigation a:active {
    color: #9b9b9b;
}

/* Авторизация */

.login {
    list-style: none;
}

.login-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    border: none;
}

.login-button:hover, .login-button:focus {
    color: #ee3643;
    border: none;
}

.login-button:active {
    color: #c5c5c5;
    border: none;
}

.autorised>a {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
}

.autorised>a:active {
    color: #c5c5c5;
}

.login-list {
    list-style: none;
}

.login-list a {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: underline;
}

.login-list a:hover, .login-list a:focus {
    color: #ee3643;
}

.login-list a:active {
    color: #c5c5c5;
}

/* Типографика */

.site-navigation {
    list-style: none;
    color: #ffffff;
    background-color: #32425c;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.companies {
    list-style: none;
}

.companies li {
    font-size: 18px;
    line-height: 20px;
}

.promo-item h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.slider h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slider p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
}

.producers, .power {
    list-style: none;
}

.producers li, .power li {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.catalog-items {
    list-style: none;
}

.popular-items ul {
    list-style: none;
}

.popular-items h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.popular-items span {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
}

.popular-producers ul {
    list-style: none;
}

.service-list {
    list-style: none;
}

.section-title {
    background-color: #f9f5f0;
}

.catalog-title {
    background-color: #f2f6f8;
    margin: 0;
    padding: 15px 30px;
}

.catalog-title h1 {
    font-weight: normal;
    color: #32425c;
}

.sorting ul {
    list-style: none;
}

.filter h2, .sorting h2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

.product-info {
    background-color: #f2f6f8;
}

.pagination {
    list-style: none;
}

/* Ссылки */

.site-navigation a {
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
}

.breadcrumbs {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.breadcrumbs a {
    color: #000000;
}

.footer-nav a, .footer-social a {
    color: #ffffff;
}

.footer-nav-bottom a, .footer-link {
    color: #ffd180;
}

.footer-nav a:hover, .footer-nav a:focus {
    text-decoration: underline;
}

.footer-nav a:active {
    opacity: 0.5;
}

.footer-link:hover, .footer-link:focus {
    text-decoration: underline;
}

.footer-link:active {
    color: #ee3643;
}

.promo-item a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: rgba(229, 229, 229, 0.5);
    color: #ffffff;
}

.promo-item a:hover {
    background-color: #cccccc;
}

.promo-item a:active {
    background-color: #b2b2b2;
}

.pagination a {
    font-size: 13px;
    line-height: 18px;
    border: 1px solid lightgray;
}

.pagination-current a {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination a:hover {
    border: 1px solid gray;
}

.pagination a:active {
    border: 1px solid #ee3643;
}

.site-navigation li {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.site-navigation a {
    text-align: center;
}

.site-navigation li:first-child {
    padding-left: 50px;
}

.site-navigation li:last-child {
    padding-right: 60px;
}

.site-navigation {
    width: 940px;
}

/* Футер */

.main-footer {
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-top {
    background-color: #32425c;
    font-size: 18px;
    line-height: 24px;
}

.footer-bottom {
    background-color: #293449;
    font-size: 16px;
    line-height: 18px;
}

.footer-nav, .footer-social {
    list-style: none;
}

.footer-social ul {
    list-style: none;
}

/*Всплывающие окна */

.modal {
    display: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/*Декоративные */

.main-header-logo img {
    padding: 10px 40px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

/*Иконки */

.search-form label {
    display: inline-block;
    position: relative;
    padding-left: 40px;
}

.search-form label::before {
    content: "";
    position: absolute;
    background: url(../img/interface/icon-search.svg) no-repeat 0 0;
    opacity: 0.5;
    width: 17px;
    height: 17px;
    left: 20px;
}

.breadcrumbs li::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 7px;
    width: 8px;
    height: 12px;
    background: url(../img/interface/icon-right-small.svg) no-repeat 0 0;
}

.breadcrumbs li:first-child::after {
    content: "";
    position: absolute;
    background: url(../img/interface/icon-home.svg) no-repeat 0 0;
    width: 15px;
    height: 12px;
    right: 100px;
    top: 7px;
}

/*Сеточные стили */

.container {
    width: 940px;
    margin: 0 auto;
}

.main-header {
    margin-bottom: 60px;
}

.inner-page .main-header {
    margin-bottom: 0;
}

.main-nav {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 960px;
}

.company-info {
    display: flex;
    height: 160px;
    width: 960px;
    margin: 0 auto;
    justify-content: space-around;
}

.header-buttons-wrapper {
    width: 100%;
    height: 42px;
    background-color: #293449;
}

.header-wrapper {
    width: 100%;
    background-color: #f3f7f8;
}

.header-top {
    display: flex;
}

.header-buttons ul {
    display: flex;
    justify-content: flex-end;
}

input[type="search"] {
    min-width: 10px;
}

.search-form input, .search-form label {
    display: inline-block;
    height: 16px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
}

.promo-item {
    width: 300px;
    height: 125px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.promo-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promo-item a {
    display: block;
    width: 135px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 3px;
}

.promo-item-1 {
    background-color: #ffbf47;
}

.promo-item-2 {
    background-color: #3bbce3;
}

.promo-item-3 {
    background-color: #dc91d8;
}

.promo-item-4 {
    background-color: #8ed78f;
}

.promo-item-5 {
    background-color: #ffbf47;
}

.promo-item-1::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    background: url(../img/interface/icon-1.svg) no-repeat 0 0;
    right: 40px;
    bottom: 30px;
}

.promo-item-2::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    background: url(../img/interface/icon-2.svg) no-repeat 0 0;
    right: 30px;
    bottom: 30px;
}

.promo-item-3::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    background: url(../img/interface/icon-3.svg) no-repeat 0 0;
    right: 30px;
    bottom: 30px;
}

.promo-item-4::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    background: url(../img/interface/icon-4.svg) no-repeat 0 0;
    right: 30px;
    bottom: 30px;
}

.promo-item-5::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    background: url(../img/interface/icon-5.svg) no-repeat 0 0;
    right: 30px;
    bottom: 30px;
}

.promo-item h3 {
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 15px;
}

.producers-list {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producers-list li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 218px;
    height: 140px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.popular-items ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.popular-items li {
    width: 218px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.popular-items li:last-child {
    margin-right: 0;
}

.shop {
    display: flex;
    justify-content: space-between;
    margin: 85px 0;
}

.shop-info {
    width: 550px;
}

.shop-contacts {
    width: 300px;
}

.shop-contacts a {
    display: block;
    margin-top: 20px;
}

.breadcrumbs {
    margin: 20px 60px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.breadcrumbs li {
    position: relative;
    margin-right: 45px;
}

.catalog-items {
    width: 700px;
    margin: 20px auto;
}

.product-info-wrapper {
    width: 100%;
    background-color: #f2f6f8;
}

.product-info {
    padding: 60px 0;
}

.catalog-columns {
    display: flex;
}

.sorting ul {
    margin: 0;
    padding: 0;
}

.catalog-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 218px;
    margin-bottom: 20px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.footer-top-wrapper {
    width: 100%;
    background-color: #32425c;
}

.footer-bottom-wrapper {
    width: 100%;
    background-color: #293449;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.footer-social {
    margin: 0 auto;
}

.feedback {
    margin-right: 40px;
}

/*Каталог */

.catalog-item {
    border: 1px solid #cccccc;
    text-align: center;
}

.catalog-item .discount, .popular-items .discount {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #999;
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
}

.catalog-item .title, .popular-items .title {
    background: none;
    min-height: 40px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.catalog-item .price, .popular-items .price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: #fff;
    background: #ee3643;
    border-radius: 3px;
}

.sorting ul {
    display: flex;
    justify-content: space-between;
}